#day-options
	#day-options-close
		button.close-button.right close x

	div.column#day-options-navigation nav

	div.column#day-options-control #{user.username}'s planned workouts for 
		span#day-options-date