#day-options
	#day-options-close
		button.close-button.right close x

	div.column#day-options-navigation
		button#add-workout Add Workout

	div.column#day-options-control #{user.username}'s planned workouts for 
		span#day-options-date
		ul#workouts
		

		div#day-options-add-workout-form
			div.column.add-workout-form-label Workout type
			div.column.add-workout-form-field
				select#workout-type
					option(value='training') training
					option(value='sportive') sportive
					option(value='time trial') time trial
					option(value='race') race
					option(value='recovery ride') recovery ride
					option(value='commute') commute

			div.clear

			div.column.add-workout-form-label Estimated duration
			div.column.add-workout-form-field
				select#workout-duration
					option(value='0.5') 0.5 hrs
					option(value='1.0') 1.0 hrs
					option(value='1.5') 1.5 hrs
					option(value='2.0') 2.0 hrs
					option(value='2.5') 2.5 hrs
					option(value='3.0') 3.0 hrs
					option(value='3.5') 3.5 hrs
					option(value='4.0') 4.0 hrs
					option(value='4.5') 4.5 hrs
					option(value='5.0') 5.0 hrs
					option(value='5.5') 5.5 hrs
					option(value='6.0') 6.0 hrs

			div.clear

			button#submit-workout add workout


script#day-options-workout-list-template(type='text/template')
	li.calendar-workout-item(class='workout-type-<%= workout_type %>',data-workout-type='<%= workout_type %>',data-workout-duration='<%= workout_duration %>',data-workout-id='<%= workout_id %>') <%= workout_type %>, <%= workout_duration %>hrs
		button.delete-workout delete