- if (!user) {
ul
	li Create a yearly training plan based around your key races, sportives and events.
	li Estimate your cumulative training stress without the need for a power meter.
	li Log your workout and compare it to previous ones 
	li Visualise your fitness improving each week with intelligent charting and metrics

p The training plan maker is based upon Joe Friel's periodization model of training, where...
p If you want to give it a whirl before signing up, please sign in with this test account.

p.test-credentials Username: 
	span tryme@test.com
p.test-credentials Password: 
	span test
	

	div.forms-container.column
		h3 Sign up
		#sign-up

	div#sign-in-container.forms-container.column
		h3 Sign in
		#sign-in

	div.clear

- } else {
	!=partial('partials/weekly-table', { locals: { user: user } })

	!=partial('partials/day-options', { locals: { user: user } })
- }

