ul
	li Create a yearly training plan based around your key races, sportives and events.
	li Estimate your cumulative training stress without the need for a power meter.
	li Log your workout and compare it to previous ones 
	li Visualise your fitness improving each week with inteligent charting and metrics

p The training plan maker is based upon Joe Friel's periodization model of training, where...

- if (!user) {
	h2 Welcome, please log in.
- } else {
	!=partial('partials/weekly-table', { locals: { user: user } })

	!=partial('partials/day-options', { locals: { user: user } })
- }