!!!
head
	title training planner
	link(href='/css/site.css', rel='stylesheet')
	script(data-main='js/main', src='js/libs/require/require.js')

body
	div.page
		- if (!user) {
			p
				a(href='/') Home
				span  | 
				a(href='/login') Log In
		- } else {
			p
				a(href='/') Home
				span  | 
				a(href='/account') Account
				span  | 
				a(href='/logout') Log out
		- }

		h1 Training Planner
		
		!= body