!!!
head
	title training planner
	link(href='/css/site.css', rel='stylesheet')
	script(data-main='js/main', src='js/libs/require/require.js')

body
	div.page
		- if (user) {
			p
				a(href='/') Home
				span  | 
				a(href='/account') Your Account
				span  | 
				a(href='/logout') Log out
		- }

		h1 Training Planner
		
		!= body

script#sign-up-template(type='text/template')
	form(method='post',action='/signup')
		div.column.form-label
			label(name='name') Name
		div.column
			input#friendlyName(type='text',name='friendlyName')
		div.clear
		div.column.form-label
			label(name='email') Email
		div.column
			input#username(type='text',name='email')
		div.clear
		div.column.form-label
			label(name='password') Password
		div.column
			input#password(type='password',name='password')
		div.clear
		div.column.submit-form
			input#sign-up-submit(type='submit',value="sign up")
		div.clear

script#sign-in-template(type='text/template')
	form(action='/login',method='post')
		div.column.form-label
				label(name='name') Name
		div.column
			input(type='text',name='username')
		div.clear
		div.column.form-label
			label(name='password') Password
		div.column
			input(type='password',name='password')
		div.clear
		div.column.submit-form
			input(type='submit',value='sign in')
		div.clear