!!!
head
	title cycling training planner
	link(href='/css/site.css', rel='stylesheet')
	script(data-main='js/main', src='js/libs/require/require.js')

body
	div.page
		- if (user) {
			p
				a(href='/') Home
				span  | 
				a(href='/logout') Log out
		- }

		h1 Cycling Training Planner
		
		!= body