!!!
head
	title training planner
	link(href='/css/site.css', rel='stylesheet')
	script(data-main='js/main', src='js/libs/require/require.js')

body
	div.page
		- if (!user) {
			p
				a(href='/') Home
				span  | 
				a(href='/login') Log In
		- } else {
			p
				a(href='/') Home
				span  | 
				a(href='/account') Account
				span  | 
				a(href='/logout') Log out
		- }

		h1 Training Planner
		
		!= body

script#sign-up-template(type='text/template')
	form(method='post',action='/signup')
		div.column
			label(name='name') Name
		div.column
			input#friendlyName(type='text',name='friendlyName')
		div.clear
		div.column
			label(name='email') Email
		div.column
			input#username(type='text',name='email')
		div.clear
		div.column
			label(name='password') Password
		div.column
			input#password(type='text',name='password')
		div.clear
		input#sign-up-submit(type='submit',value="sign up")