body, .body-style 
{
    font-family: 'pt sans', sans-serif;
    font-size: 0.9em;
    background-color: #96D100;
    margin: 0;
    line-height: 1.8em;
}
.page
{
	background-color: White;
	width: 1096px;
	position: absolute;
	left: 50%;
	margin-left: -600px;
	padding: 10px 45px;
	border-left: solid 3px #577A02;
	border-right: solid 3px #577A02;
}
h1
{
	font-family: 'pt sans', sans-serif;
	font-weight: bold;
}
h5
{
	font-size: 1.3em;
}
.clear
{
	clear:both;
}
#year-picker
{
	margin-left: 10px;
}
#choose-year
{
	margin-bottom: 10px;
}
.weekly-table-segment
{
	padding: 2px;
	height: 100px;
	border: solid 1px #577A02;
	margin: 2px;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.9em;
	line-height: 1.7em;
}
.weekly-table-day
{
	width: 110px;
	cursor: hand;
	cursor: pointer;
	background-color: #DFF0B6;
	overflow: hidden;
}
.weekly-table-day:hover
{
	background-color: #ABCC5A;
}
.weekly-table-day .date
{
	font-size: 0.9em;
	color: #333333;
	line-height: 0.9em;
	margin-bottom: 5px;
}
.workout-type-race
{
	background-color: #E37974;
}
.workout-type-training
{
	background-color: #9ABCD9;
}
.workout-type-sportive
{
	background-color: #FCD58B;
}
.workout-type-club
{
	background-color: #B5F4F5;
}
.workout-type-time
{
	background-color: #F0F090;
}
.workout-type-commute
{
	background-color: #B6DEA9;
}
.workout-type-recovery
{
	background-color: White;
}
.calendar-workout-item
{
	border: solid 1px #577A02;
}
.weekly-table-day .calendar-workout-item
{
	font-size: 0.7em;
	display: block;
	line-height: 0.9em;
	width: 105px;
	height: 11px;
	margin-bottom: 1px;
	padding-top: 1px;
	padding-left: 3px;
}
ul#workouts li.calendar-workout-item
{
	list-style: none;
	margin-left: -40px;
	padding-left: 5px;
	margin-bottom: 2px;
}
li.calendar-workout-item button.delete-workout
{
	float: right;
}
.today
{
	background-color: #C8E67C;
}
.weekly-table-week-number
{
	width: 75px;
}
.weekly-table-week
{
	width: 100%;
}
.weekly-table-week-total
{
	width: 150px;
}
.weekly-table-week-total .duration-total
{
	font-size: 0.9em;
	color: #333333;
	line-height: 0.9em;
	margin-bottom: 2px;
	margin-top: 10px;
}
#day-options
{
	display: none;
	width: 800px;
	height: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -400px;
	margin-top: -200px;
	background-color: #ABCC5A;
	border: solid 2px #577A02;
	z-index: 1000;
}
#day-options-close
{
	width: 800px;
	height: 30px;
	float: left;
}
.close-button
{
	background-color: #DDDDDD;
	border: solid 1px #577A02;
	width: 50px;
	height: 20px;
	padding: 2px;
	text-align: center;
	margin: 5px 5px;
	cursor: hand;
	cursor: pointer;
}
.close-button:hover
{
	background-color: #FFFFFF;
}
.right
{
	float: right;
	display: block;
}
.column
{
	float: left;
	display: block;
}

#day-options-navigation
{
	width: 90px;
	height: 352px;
	border: solid 1px #577A02;
	margin: 4px 4px;
	background-color: #eeeeee;
	padding: 4px 4px;
}
#day-options-navigation button
{
	width: 87px;
	height: 16px;
	border: solid 1px #577A02;
	margin: 1px 1px;
	background-color: #eeeeee;
	font-size: 0.7em;
	cursor: pointer;
	cursor: hand;
}
#day-options-navigation button:hover
{
	background-color: #ABCC5A;
}
#day-options-control
{
	width: 673px;
	height: 352px;
	border: solid 1px #577A02;
	margin: 4px 4px;
	background-color: #eeeeee;
	padding: 4px 4px;

}
#day-options-add-workout-form
{
	display: none;
	width: 672px;
}
.add-workout-form-label
{
	width: 200px;
}
.add-workout-form-field
{
	width: 200px;
}
.clear: 
{
	clear: both;
}
